<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8" ></meta>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<title>pdca说明</title>
<style>
  .fakeimg {
      height: 250px;
      background: white;
  }
  </style>
</head>
<body>
<div th:replace="nav :: myfooter"  ></div>

<div class="container">
<div class="row">
<h2 style="text-align: center;">1234</h2>
</div>
    <div class="row">
    	<div class="col-sm-6">
        	<img  src="../static/pic/pdca.png"></img>
        	<br/><br/>
        	<img width="600px" height="400px" src="../static/pic/pdca1.png"></img>
    	</div>
       	<div class="col-sm-6">
	      
	      <h3>PDCA循环是20世纪20年代由美国质量管理专家休哈特博士首先提出，后来戴明将其进一步完善后获得普及，所以又称戴明环。PDCA循环是一个持续改进的模型，包括四个循环反复的步骤，即Plan(计划)、Do(执行)、Check(检查) 和 Action(改进)。
			</h3>
	      <div class="fakeimg"></div>
	      <h2>标题</h2>
	      <h5>副标题</h5>
	      
	      <p>一些文本..</p>
	      <p>菜更是梦想！！！</p>
    </div>
    <div class="col-sm-3"></div>
    </div>
</div>



</body>
</html>