<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.MuliheMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Mulihe">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="psr" jdbcType="NVARCHAR" property="psr" />
    <result column="firstIndex" jdbcType="NVARCHAR" property="firstindex" />
    <result column="indexId" jdbcType="NVARCHAR" property="indexid" />
    <result column="secondIndex" jdbcType="NVARCHAR" property="secondindex" />
    <result column="unit" jdbcType="NVARCHAR" property="unit" />
    <result column="data2018" jdbcType="REAL" property="data2018" />
    <result column="rules" jdbcType="NVARCHAR" property="rules" />
    <result column="standard" jdbcType="REAL" property="standard" />
    <result column="citation" jdbcType="NVARCHAR" property="citation" />
    <result column="comment" jdbcType="NVARCHAR" property="comment" />
    <result column="data2019" jdbcType="REAL" property="data2019" />
  </resultMap>

  <select id="findQualified" resultType="com.company.project.model.Mulihe">
    SELECT * FROM mulihe
    WHERE (rules='≤' AND data2019 <![CDATA[ <= ]]> standard)
    or (rules='≥' and data2019 <![CDATA[ >= ]]> standard) or data2019=1;
  </select>

</mapper>