<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.MuliheMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Mulihe">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="psr" jdbcType="VARCHAR" property="psr" />
    <result column="firstIndex" jdbcType="VARCHAR" property="firstindex" />
    <result column="indexId" jdbcType="VARCHAR" property="indexid" />
    <result column="secondIndex" jdbcType="VARCHAR" property="secondindex" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="currentValue" jdbcType="REAL" property="currentvalue" />
    <result column="rules" jdbcType="VARCHAR" property="rules" />
    <result column="standard" jdbcType="REAL" property="standard" />
    <result column="citation" jdbcType="VARCHAR" property="citation" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="data_2018" jdbcType="REAL" property="data2018" />
  </resultMap>

  <select id="findQualified" resultType="com.company.project.model.Mulihe">
    SELECT * FROM mulihe
    WHERE (rules='≤' AND currentValue <![CDATA[ <= ]]> standard)
    or (rules='≥' and currentValue <![CDATA[ >= ]]> standard) or currentValue=1;
  </select>

</mapper>