<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.YuegangaoMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Yuegangao">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="psr" jdbcType="NVARCHAR" property="psr" />
    <result column="firstIndex" jdbcType="NVARCHAR" property="firstindex" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="secondIndex" jdbcType="NVARCHAR" property="secondindex" />
    <result column="unit" jdbcType="NVARCHAR" property="unit" />
    <result column="standard" jdbcType="NVARCHAR" property="standard" />
    <result column="pkId" jdbcType="INTEGER" property="pkid" />
  </resultMap>
</mapper>